<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success {{#if noMessages}}hidden{{/if}}">
            {{ successMsg }}
        </div>
    </div>
</div>
<div class ="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <div class="row">
        <div class="col-xs-6 ">
            <h1>My Orders</h1>
        </div>
            <div class="col-xs-6 " align="right">
                <h1><a href="/payment" type="button" class="btn btn-success">Payment</a></h1>
            </div>
        </div>

        {{# each orders }}
        <p><strong>Order_Id </strong>{{ this.orderid }}</p>

             <div class="panel panel-default">
                <div class="panel-body">
                     <ul class="list-group">
                         {{# each this.items }}
                         <li class="list-group-item">
                             <span class="badge">{{ this.price }}</span>
                             {{ this.item.title }} | {{ this.qty }} Units
                         </li>
                         {{/each}}
                     </ul>
                    <p><strong>Time </strong>{{ this.time }}</p>
                </div>
            <div class="panel-footer">
                <strong>Total Price: {{ this.totalPrices }} B</strong></div>
        </div>
        {{/each}}

    </div>

</div>